<a class="item-text" href="/assets/downloads/autobiography-manual.pdf" target="_blank"><p><i class="far fa-file" style="padding-right: 1em;"></i>Read the Autobiography Manual</p></a>

<!---
<div class="item-video"><iframe src="https://player.vimeo.com/video/190718950" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
	--->
{% for image in site.static_files %} {% if image.path contains page.value %}
<div class="item-image">
    <img src="{{ image.path }}" alt="" data-echo="{{ image.path }}">
</div>
{% endif %} {% endfor %}