<div class="item-text"><p>Apparently, my right thigh. It's locked solid.</p><p></p></div>
<div class="item-text"><p>obligation</p><p></p></div>
<div class="item-text"><p>yep</p><p>Anonymous</p></div>
<div class="item-text"><p>absolutely</p><p></p></div>
<div class="item-text"><p>distractedly</p><p>Anonymous</p></div>
<div class="item-text"><p>My inability to stop.</p><p>Anonymous</p></div>
<div class="item-text"><p>hope</p><p>Anonymous</p></div>
<div class="item-text"><p>
</p><p></p></div>
<div class="item-text"><p>dinner</p><p>Anonymous</p></div>
<div class="item-text"><p>ears</p><p>Anonymous</p></div>
<div class="item-text"><p>distractedly</p><p>Anonymous</p></div>
<div class="item-text"><p>At the end of all the light.</p><p></p></div>
<div class="item-text"><p>myopically</p><p></p></div>
<div class="item-text"><p>with intention</p><p>Anonymous</p></div>
<div class="item-text"><p>with my eyes</p><p></p></div>
<div class="item-text"><p>Creativity</p><p></p></div>
<div class="item-text"><p>vermont</p><p></p></div>
<div class="item-text"><p>slowly</p><p>Anonymous</p></div>
<div class="item-text"><p>Freely toward the unknown.</p><p>Anonymous</p></div>
<div class="item-text"><p>many</p><p>Anonymous</p></div>
<div class="item-text"><p>through the loss of self in a state of flowing through the moments</p><p></p></div>
<div class="item-text"><p>swimming pool</p><p></p></div>
<div class="item-text"><p>connection to others</p><p>Anonymous</p></div>
<div class="item-text"><p>lilac bush</p><p></p></div>
<div class="item-text"><p>rubber</p><p>Anonymous</p></div>
<div class="item-text"><p>friends</p><p></p></div>
<div class="item-text"><p>By touch</p><p></p></div>
<div class="item-text"><p>with your eyes</p><p></p></div>
<div class="item-text"><p>sharing</p><p>Anonymous</p></div>
<div class="item-text"><p>bidet</p><p>Anonymous</p></div>
<div class="item-text"><p>interactive exhibits</p><p>Anonymous</p></div>
<div class="item-text"><p>office</p><p></p></div>
<div class="item-text"><p>I see in an attempt to see more.</p><p>Anonymous</p></div>
<div class="item-text"><p>now</p><p>Anonymous</p></div>
<div class="item-text"><p>rubber</p><p>Anonymous</p></div>
<div class="item-text"><p>pull</p><p></p></div>
<div class="item-text"><p>sometimes better than other times</p><p>Anonymous</p></div>
<div class="item-text"><p>here</p><p>Anonymous</p></div>
<div class="item-text"><p>bed</p><p>Anonymous</p></div>
<div class="item-text"><p>absolutely</p><p>Anonymous</p></div>
<div class="item-text"><p>what is listening without registering and understanding?</p><p></p></div>
<div class="item-text"><p>Response to my work.</p><p></p></div>
<div class="item-text"><p>eyees</p><p>Anonymous</p></div>
<div class="item-text"><p>faith</p><p></p></div>
<div class="item-text"><p>through similarities </p><p></p></div>
<div class="item-text"><p>Partially blind, it's best this way.</p><p>Anonymous</p></div>
<div class="item-text"><p>with my eyes</p><p>Anonymous</p></div>
<div class="item-text"><p>push</p><p></p></div>
<div class="item-text"><p>of course</p><p>Anonymous</p></div>
<div class="item-text"><p>With my eyes</p><p></p></div>