<div class="item-image"> <img src="../assets/images/salt/salt-amira-silverman-1518111632.jpg" title="Amira Silverman" alt="Amira Silverman" /></div>
<div class="item-image"> <img src="../assets/images/salt/salt-amira-silverman-1518186348.jpg" title="Amira Silverman" alt="Amira Silverman" /></div>
<div class="item-image"> <img src="../assets/images/salt/salt-amira-silverman-1518111650.jpg" title="Amira Silverman" alt="Amira Silverman" /></div>
<div class="item-image"> <img src="../assets/images/salt/salt-amira-silverman-1518111728.jpg" title="Amira Silverman" alt="Amira Silverman" /></div>
<div class="item-image"> <img src="../assets/images/salt/salt-amira-silverman-1518111671.jpg" title="Amira Silverman" alt="Amira Silverman" /></div>