<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518103906.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943544.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943471.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518103982.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943559.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104150.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943389.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104000.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104107.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104078.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104062.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518103754.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104186.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943524.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943458.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522942795.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522942812.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518103949.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104131.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943512.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-text"><p>Scene One: Slumping

Seemingly still on the outside,
Cellular and fluids — lots of movement —
continuously pumping, flowing, rippling within the tree
In tree time rhythm.
Photosynthesis - a mutual exchange
Give and take
In tree time rhythm
Tapping sweet sap in spring - boiling down to maple syrup
Fueling us
Us fueling the tree
In tree time rhythm.</p><p>Erika Senft Miller</p></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522942781.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518103937.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518103922.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943498.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522942877.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943446.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104092.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522942856.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518103544.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943591.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943573.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104164.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104120.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522942840.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104017.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518104047.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518103969.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-text"><p>Scene Two: Falling

Tears dripping
catching
gripping
tears slipping through
falling
falling into long bottomless seas
falling into love
tears falling into love</p><p>Erika Senft Miller</p></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1518103785.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943487.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522943431.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>
<div class="item-image"> <img src="../assets/images/sitetime/sitetime-renee-greenlee-1522942827.jpg" title="Renee Greenlee" alt="Renee Greenlee" /></div>