---
layout: default
title: Archive
permalink: /archive/
---


<div class="row">
    <div class="row-inner">
        {% assign items = site.projects | sort: 'order' %} {% assign projects = items %} {% for project in items reversed %}
        <div class="title-black">
            <a href="{{ project.url | relative_url }}" alt="{{ project.title }}">{{ project.title }}</a>
        </div>
        {% endfor %}
    </div>
    
    <div class="row-inner">
        {% include newsletter-signup.html %}
    </div>
</div>