---
layout: default
title: Archive
permalink: /archive/
---

<div class="row">

    <div class="row-inner">
        <p>Current</p>

        {% assign items = site.ongoing | sort: 'order' %} {% assign ongoing = items %} {% for ongoing in items %}
        <div class="title-black">
            <a href="{{ ongoing.url | relative_url }}" alt="{{ ongoing.title }}">{{ ongoing.title }}</a>
        </div>
        {% endfor %}
    </div>

        <div class="row-inner">
            <p>Past</p>

            {% assign items = site.projects | sort: 'order' %} {% assign projects = items %} {% for project in items reversed %}
            <div class="title-black">
                <a href="{{ project.url | relative_url }}" alt="{{ project.title }}">{{ project.title }}</a>
            </div>
            {% endfor %}

        </div>
    </div>