---
layout: default
title: Info
permalink: /info/
---

<div class="row row-md middle-xs center-xs">
    <div class="row start-xs col-xs-12 col-md-10 title-black">Erika Senft Miller is an interdisciplinary performance artist whose research-based practice explores the power of movement as a means of expression, collaboration, connection, and a deep examination of both a site and its culture.</div>
</div>
<div class="row middle-xs">
    <div class="grid-col-2">
        {% for image in site.static_files %} {% if image.path contains 'erika-bio' %}
        <div class="item-image-row"><img src="{{image.path}}"></div>
        {% endif %} {% endfor %}
    </div>
</div>
<div class="row row-md middle-xs center-xs">
    <div class="row start-xs col-xs-12 col-md-10">
        <p>Miller’s history is a dynamic one: she has relocated seventeen times, speaks five languages, and has spent over twenty years teaching in universities, theaters, design studios, and other art and community centers. She trained in dance theater with Fe Reichelt, holds a doctorate in Dance Education, has passionately pursued skiing and stand-up paddle boarding, and continually experiments with new forms of movement. Most recently Miller has organized a core group of collaborators whose backgrounds are wildly diverse. Together they have formed her <a href="https://www.instagram.com/erikamillerlab" target="_blank">Performance Lab</a>, working on a variety of projects including <a href="{{ site.baseurl }}projects/sitetime/">SiteTime</a> and <a href="{{ site.baseurl }}projects/offsiteontime/">offSiteonTime</a>. Current members are Alana Rancourt Phinney, Lydia Kern, Navah Stein, Holly Chagnon, Mireya Guerra, and Sage Horsey.</p>
    </div>
</div>
<div class="row row-sm middle-xs">
    <div class="grid">
        {% for image in site.static_files %} {% if image.path contains 'movement-lab' %}
        <div class="item-image"><img src="{{image.path}}"></div>
        {% endif %} {% endfor %}
    </div>
</div>

<section id="contact" class="row row-lg middle-xs start-xs col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
    <div class="row top-xs">
        <div class="col-xs-12 col-md-3">
            <p><strong>Contact</strong></p>
            <ul class="press">
                <li>erikasenftmiller@gmail.com</li>
                <li><a href="{{ site.baseurl }}assets/erikasenftmiller-cv.pdf" class="blue" target="_blank">Download CV</a></li>
            </ul>
            {% include newsletter-signup.html %}
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-1">
            <p><strong>Media Links</strong></p>
            <ul class="press">
                {% assign items = site.press | sort: 'date' | reverse %} {% assign link = items %} {% for link in items %}
                <li><a href="{{ link.source }}" target="_blank">{{ link.title }} / {{ link.publication }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>    
</section>
<section id="social" class="row row-xs middle-xs center-md start-xs">
    <div class="col-xs-12 col-md-3">
        <a href="https://www.instagram.com/erikasenftm/" target="_blank" class="social">
                <i class="fab fa-instagram"></i>ErikaSenftMiller</a>
    </div>
    <div class="col-xs-12 col-md-3">
        <a href="https://www.instagram.com/erikamillerlab" target="_blank" class="social">
                <i class="fab fa-instagram"></i>ErikaMillerLab</a>
    </div>
    <div class="col-xs-12 col-md-3">
        <a href="https://vimeo.com/erikasenftmiller/" target="_blank" class="social">
                <i class="fab fa-vimeo"></i>Vimeo</a>
    </div>
    <div class="col-xs-12 col-md-3">
        <a href="https://medium.com/@erikasenftmiller/" target="_blank" class="social">
                <i class="fab fa-medium"></i>Medium</a>
    </div>    
</section>