---
layout: default
title: Projects
permalink: /projects/
---

<div class="row row-full middle-xs start-xs">
    <div class="row start-xs">
        <div class="col-xs-8">
            <p class="blue">Archive</p>
            {% assign items = site.projects | sort: 'order' %} {% assign projects = items %} {% for project in items reversed %}
            <a href="{{ project.url | relative_url }}" alt="{{ project.title }}" class="row archive-item">{{ project.title }}</a> {% endfor %}
        </div>
        <div class="col-xs-3">
            <p class="blue">Upcomming</p>
            {% assign items = site.upcoming | sort: 'order' %} {% assign upcoming = items %} {% for upcoming in items reversed %}

            <a href="{{ upcoming.url | relative_url }}" alt="{{ upcoming.title }}" class="upcoming-item">
                <p class="upcoming-time">{{ upcoming.time }}</p>
                <div class="upcoming-title">{{ upcoming.title }}</div>
                {% endfor %}
            </a>
            <br> {% include newsletter-signup.html %}
        </div>
    </div>
</div>