<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
    
<link rel="icon" href="{{ site.baseurl }}assets/favicon.png" sizes="16x16" type="image/png">
    
<meta property="og:title" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="">
<meta property="og:url" content="http://erikasenftmiller.com">    

<link rel="stylesheet" href="{{ site.baseurl }}assets/css/site.css">
<script defer src="https://pro.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-+1nLPoB0gaUktsZJP+ycZectl3GX7wP8Xf2PE/JHrb7X1u7Emm+v7wJMbAcPr8Ge" crossorigin="anonymous"></script>
<link rel="import" href="https://components.cloudstitch.com/cloudstitch-handlebars.html"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
</head>
</html>