<div class="item"><div class="name">Christopher Norris</div><p>Experiential Design: Craig Winslow
Sound Design: Miles Dean
Movement: Erika Senft Miller
Cinematography: Micah Dudash and Driven Studio
Editing: Micah Dudash</p></div>
<div class="item"><iframe src="https://player.vimeo.com/video/66655331" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
<div class="item"><iframe src="https://player.vimeo.com/video/197214459" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>