<div class="item"><div class="name">Gabe Koss</div><p> MY TEXT MATTERS </p></div>
<div class="item"> <img src="/_projects/sleeping-babies/images/sleeping-babies-gabe-koss-1517457733.jpg" title="Gabe Koss" alt="Gabe Koss" /></div>
<div class="item"> <img src="/_projects/sleeping-babies/images/sleeping-babies-morning-bell-1517492673.jpg" title="Morning Bell" alt="Morning Bell" /></div>
<div class="item"> <img src="/_projects/sleeping-babies/images/sleeping-babies-morning-bell-1517492651.jpg" title="Morning Bell" alt="Morning Bell" /></div>
<div class="item"><iframe src="https://player.vimeo.com/video/123456789" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>