/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 100;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../loader-blackbg.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

/* Mobile */

@media only screen and (max-width: 640px) {
    .row-inner {
        padding: 2.5vh !important;
    }

    .vidcover {
        display: none !important;
    }

    .fullvid {
        display: none !important;
    }
}

/* Structure */

body {
    background-image: url(/assets/images/salt/salt-amira-silverman-1518111661.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.row-full {
    min-height: 100vh;
}

@media screen and (max-width: 640px) {
    .row-full {
        padding: 0 0 3em 0 !important;
    }
}

footer {
    display: none !important;
}

.vidcover {
    opacity: 0.2;
    background: black;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.fullvid {
    width: 1280px;
    height: 720px;
    position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: -2;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    -webkit-transition: all 400ms ease-out 400ms;
    -moz-transition: all 400ms ease-out 400ms;
    -ms-transition: all 400ms ease-out 400ms;
    transition: all 400ms ease-out 400ms;
}

.title-white {
    font-size: 28px;
}

.home-link a {
    font-size: 28px;
    color: white;
    width: 100%;
    display: block;
    margin: .5vh 0 !important;
    opacity: .4;
}

.home-link a:hover {
    color: white;
    opacity: 1;
}

.home-link a:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 100;
    content: '\f178';
    padding-left: .5em;
}