/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 100;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../loader-blackbg.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/* Mobile */

@media only screen and (max-width: 640px) {
    .row-inner { padding: 2.5vh !important; }
    .vidcover { display: none !important; }
    .fullvid { display: none !important; }
}

/* Structure */

body {
    background-color: black;
}

.footer {
    display: none !important;
}

.vidcover {
    opacity: 0.2;
    background: black;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.fullvid {
  width: 1280px;
  height: 720px;
  position: fixed;
  bottom: 50%;
  left: 50%;
  z-index: -2;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  -webkit-transition: all 400ms ease-out 400ms;
  -moz-transition: all 400ms ease-out 400ms;
  -ms-transition: all 400ms ease-out 400ms;
  transition: all 400ms ease-out 400ms;
}

.title-white {
    font-size: 28px;
}

.home-link a {
    font-size: 28px;
    color: white;
    display: inline-block;
    margin: .5vh 0 !important;
    opacity: .4;
}

.home-link a:hover {
    color: white;
    opacity: 1;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.row-small {
    border-bottom: none;
    margin-top: 60px;
}

.row-inner { 
    padding: 5vh; 
    max-width: 1400px;
    margin: auto;
    width: 100%;
}