.hidden {
    display: none;
}

.footer {
    display: none !important;
}

form {
    height: 100vh;
    padding: 2em;
}

.input-form-group {
    display: block;
    margin-bottom: 20px;
    margin-top: 3em;
    text-align: center !important;
}

.question {
    margin-bottom: 1em;
}

label {
    font-size: 2em;
    margin-bottom: 1em;
}

textarea {
    width: 100%;
    font-size: 6em;
    font-weight: 400;
    padding: 0;
    color: #000;
    border: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    height: 75vh;
    caret-color: transparent;
    text-align: center;
}

input:focus, textarea:focus, select:focus {
    outline-offset: none !important;
    border: none;
}


::-webkit-input-placeholder {
    color: black;
    opacity: .1;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: black;
    opacity: .1;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
    opacity: .1;
}

:-ms-input-placeholder {
    color: black;
    opacity: .1;
}

input {
  color: transparent;
  text-shadow: 0 0 0 #2196f3;

  &:focus {
      outline: none;
  }
}