/* Mobile */

@media only screen and (max-width: 640px) {
    .title-white {
        font-size: 24px !important;
    }
    .title-black {
        font-size: 24px !important;
    }
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 100;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../loader-whitebg.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

/* Universal */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

html > body .content {
    height: auto;
}

#content {
    min-height: 100vh;
}

section {
    border-bottom: 1px solid whitesmoke;
}

#upcoming-section {
    padding: 3em 0;
}



hr {
    margin: 2em 0;
    border: 1px solid whitesmoke;
}

.row-xs {
    min-height: 10vh;
}

.row-sm {
    min-height: 20vh;
}

.row-md {
    min-height: 40vh;
}

.row-lg {
    min-height: 80vh;
}

.row-full {
    min-height: 85vh;
}

@media screen and (max-width: 640px) {
    .row-full,
    .row-xs,
    .row-sm,
    .row-md,
    .row-lg {
        padding: 2em 0;
    }
}

.whitesmoke {
    background-color: whitesmoke;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
}

/* Navigation & Footer */

.navigation {
    min-height: 7.55vh;
    border-bottom: 1px solid whitesmoke;
    font-size: .9em;
}

a.page-link {
    padding-left: 15px;
}

.footer {
    min-height: 7.5vh;
    font-size: .9em;
    border-top: 1px solid whitesmoke;
}


/* Typography */

ul {
    -webkit-padding-start: 0;
    list-style-type: none;
}

.blue {
    color: blue;
}

.lightgrey {
    color: lightgray;
}


p {
    line-height: 1.6em;
}

ul {
    line-height: 1.6em;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

p a {
    color: blue;
}

a i {
    padding-right: .5em;
}

.svg-inline--fa {
    margin-right: 1em;
}

a:hover {
    color: blue;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
}

.centered {
    text-align: center;
}

.title-black {
    font-size: 32px;
    line-height: 1.4em;
    padding: .25em 0;
}

.title-white {
    margin: 2.5vh 0;
    color: white;
    font-size: 36px;
    line-height: 1.4em;
}

/* Elements */

.press li {
    padding: .25em 0;
}

.button {
    color: blue;
    display: inline-block;
    padding: 1.5em;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

.button i {
    padding-right: .5em;
}

.button:hover {
    border: 1px solid blue;
    color: blue;
}

.button-black {
    color: black;
    display: inline-block;
    padding: 2em;
    border: 1px solid whitesmoke;
}

.button-black:hover {
    color: black;
}

.social {
    display: inline-block;
    color: black;
    margin: 1vh 0;
    font-size: 18px;
}

.social svg {
    margin-right: 10px;
}

.social:hover {
    color: blue;
}

/*Form*/

#newsletter-signup {
    width: 100%;
}

#newsletter-signup button {
    margin: 0;
}

#form {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    background-color: whitesmoke;
}

.project {
    display: block;
    padding: 5px 0;
}

.form-group {
    display: block;
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0px;
}

.form-label {
    margin-bottom: 10px;
}

input:focus,
textarea:focus,
select:focus {
    outline-offset: none !important;
    border: 1px solid blue;
    border-radius: 5px;
}

:focus {
    outline: none !important;
}

.form-control:focus {
    outline: none !important;
    outline-offset: none !important;
    border: 1px solid blue;
    box-shadow: none;
}

.form-control {
    display: block;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 20px 10px;
    font-size: 16px;
}

button {
    border: 1px solid blue;
    background-color: white;
    color: blue;
    font-size: 18px;
    padding: 1em;
    width: 100%;
}

button:hover {
    background-color: blue;
    color: white;
}

textarea {
    min-width: 100%;
    border: 1px solid lightgrey;
    display: block;
    padding: 20px 10px;
    font-size: 16px;
    min-height: 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Projects List */

.projects-list {
    position: relative;
    top: -15vh;
}

.archive-item {
    font-size: 2em;
    line-height: 1.35;
}

.upcoming-item {
    display: block;
    padding: 1em 0;
    border-bottom: 1px solid whitesmoke;
}

.upcoming-title {
    font-size: 1.2em;
}

.upcoming-time {
    font-size: .8em;
    line-height: 0em;
    opacity: .4;
}

.upcoming-page-image {
    position: absolute;
    height: 75vh;
    width: auto;
    z-index: -1;
}

.upcoming-page-title {
    font-size: 4em;
    padding: 1em 0;
}

.upcoming-image {
    padding: 3em 0;
}

.scroll-icon {
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    bottom: 2.5vh;
}

/* Banner */

.banner-title {
    font-size: 36px;
    margin: .5vh 0;
}

.banner-excerpt {
    opacity: .4;
    margin: .5vh 0;
}

.banner-excerpt li {
    width: 100%;
    display: block;
}

ul.banner-excerpt {
    padding: 1em 0;
}


/* Project Details */

table {
    width: 100%;
    border-collapse: collapse;
}

tr:last-child {
    border-bottom: none;
}

tr {
    border-bottom: 1px solid whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    padding: 1em 0;
    font-size: .8em;
    line-height: 1.6em;
    opacity: .4;
}

td {
    width: 50%;
    align-self: flex-start;
}

@media screen and (max-width: 640px) {
    td {
        width: 100% !important;
    }

    td:first-child {
        padding-bottom: 1.5em;
    }

    tr {
        flex-direction: column;
    }
}

table a {
    color: blue;
}

.accordion {
    cursor: pointer;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    text-align: left;
    padding: 1.5em 0;
}

.acc-project {
    font-size: 18px;
}

.acc-project:after {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    content: '\f067';
    float: right;
}

.acc-project:hover {
    color: blue;
}

.acc-project.open {
    color: blue;
}

.acc-project.open:after {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    content: '\f068';
}

.acc-static {
    font-size: 18px;
    pointer-events: none;
    color: black;
    border-top: 1px solid whitesmoke;
}

.acc-static:after {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 500;
    content: '\f111';
    float: right;
    color: blue;
}

.panel {
    max-width: 1400px;
    margin-bottom: 2em;
    ;
    display: none;
    overflow: hidden;
}

/* Project Grid */

.gallery {
    padding: 1rem;
    margin: auto;
    width: 100%;
}

.grid {
    -moz-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
}

.grid-col-2 {
    -moz-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    margin: 0 !important;
}

.item-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 0 0 1.5em;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.vp-player-layout {
    top: 0 !important;
}

.item-video iframe,
.item-video object,
.item-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item-text {
    display: inline-block;
    background: whitesmoke;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.item-text p {
    padding: 30px;
    font-family: monospace;
}


.item-image {
    background: #fff;
    margin: 0 0 1rem;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.item-image-row {
    background: #fff;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
    .item-image-row {
        margin-bottom: 1.5em;
    }
}

/* Grids */

@media only screen and (min-width: 640px) {
    .grid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .grid:last-child {
        margin-bottom: 0px !important;
    }
}

@media only screen and (min-width: 900px) {
    .grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .item-image:last-child {
        margin-bottom: 0px !important;
    }

    .item-image:nth-last-child(-1) {
        margin-bottom: 0px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .grid {
        width: 100%;
    }
}

@media only screen and (min-width: 640px) {
    .grid-col-2 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 900px) {
    .grid-col-2 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1200px) {
    .grid-col-2 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1280px) {
    .grid-col-2 {
        width: 100%;
    }
}