---
layout: project
title: SiteTime
value: sitetime
order: 10
image: ../assets/images/feature-powered-by-moran.jpg
site: Vermont Arts Council
location: Montpelier, Vermont
time: Ongoing Residency
---

<div id="collaborators" class="tabcontent">
    <div class="grid">
        {% include _projects/sitetime-items-collaborators.html %}
    </div>
</div>

<div id="audience" class="tabcontent">
    <div class="grid">
    {% include _projects/sitetime-items-audience.html %}
    </div>
    <p>Have something to add? <a href="{{ site.baseurl }}contribute">Click here.</a></p>
</div>