/* Universal */
* {
  box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 16px;
    margin: 0px;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

/* Typography */

p {
    line-height: 1.5em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.project-title {
    font-size: 36px;
}

textarea {
  width: 100%;
  min-height: 100px;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Structure */

.content-text {
    max-width: 1200px;
    margin: auto;
    padding: 30px
}

.content-text:after {
    content: "";
    display: table;
    clear: both;
}

.col-left {
    width: 50%;
    float: left;
    display: inline-block;
}

.col-right {
    width: 50%;
    float: right;
    display: inline-block;
    text-align: right;
}

/* Header & Footer */

#navigation {
    font-size: 20px;
    background-color: white;
}

.navigation-inner {
    max-width: 1200px;
    margin: auto;
    padding: 30px
}

#footer {
    width: 100%;
    background-color: whitesmoke;
    font-size: .8em;
    height: 100px;
}

.footer-inner {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}

a.page-link {
    padding-left: 15px;
}

/*Form*/

.form {
    text-align: left;
    padding: 20px;
    background: whitesmoke;
}

.demo-text, .magic-form {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.project {
  display: block;
  padding: 5px 0;
}

.form-group {
  display: block;
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0px;
}

.form-label {
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
}

button {
  border: 1px solid #333;
  background-color: #ddd;
  padding: 15px 30px;
  margin: 20px 0;
}

button:hover {
  opacity: .5;
}

