/* Mobile */
@media only screen and (max-width: 640px) {
    .row-inner { padding: 4vh !important; }
    .navigation-inner { padding: 4vh !important; }
    .footer-inner { padding: 4vh !important; }
    .col-left { width: 100% !important; }
    .col-right { width: 100% !important; }
}


/* Universal */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

html,body {
    height:100%;
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 16px;
    text-decoration: none;
}

html>body .content { height:auto; }
#content { min-height:100%; }

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    min-height: 85vh;
}

.row-inner { 
    padding: 10vh 2.5vh; 
    max-width: 1400px;
    margin: auto;
    width: 100%;
}

.row-small {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    min-height: 10vh;
}

.row-medium {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    min-height: 40vh;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

/* Navigation & Footer */

.navigation {
    min-height: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid whitesmoke;
}

.navigation-inner {
    padding: 2.5vh;
    max-width: 1400px;
    width: 100%;
}

.nav-left {
    width: 50%;
    float: left;
    padding-right: 30px;
}

.nav-right {
    width: 50%;
    float: left;
    text-align: right;
}

a.page-link { padding-left: 15px; }

.footer {
    min-height: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid whitesmoke;
}

.footer-inner {
    padding: 2.5vh;
    max-width: 1400px;
    width: 100%;
}

/* Columns */


.col-left {
    width: 50%;
    float: left;
    padding-right: 30px;
}

.col-right {
    width: 50%;
    float: left;
}

/* Typography */

p {
    line-height: 1.5em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.project-title {
    font-size: 36px;
}

/*Form*/

#form {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.project {
  display: block;
  padding: 5px 0;
}

.form-group {
  display: block;
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0px;
}

.form-label {
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
}

button {
  border: 1px solid #333;
  background-color: #ddd;
  padding: 15px 30px;
  margin: 20px 0;
}

button:hover {
  opacity: .5;
}

textarea {
    min-width: 100%;
    display: block;
    padding: 20px 10px;
    font-size: 16px;
    min-height: 120px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}