---
layout: upload
title: Upload
---

<div class="row-small">
        <div class="row-inner">
            <div class="title-black">Add Your Perspective</div> 
        </div>
    </div>

<div class="row-xs">
    <div class="row-inner">
        <div class="accordion-custom"><i class="fas fa-camera"></i>Upload a Photo</div>
            <div class="panel">
                {% include _forms/photo-upload.html %}
            </div> 
    </div>
</div>

<div class="row-xs">
    <div class="row-inner">
        <div class="accordion-custom"><i class="fas fa-video"></i>Embed from Vimeo</div>
            <div class="panel">
                {% include _forms/video-embed.html %}
            </div>
    </div>
</div>

<div class="row-xs">
    <div class="row-inner">
        <div class="accordion-custom"><i class="fas fa-align-left"></i>Add Text</div>
            <div class="panel">
                {% include _forms/add-text.html %}
            </div>
    </div>
</div>

<div class="row-xs">
    <div class="row-inner">
        <div class="accordion-custom open"><i class="fas fa-question"></i>Instructions for Uploading</div>
            <div class="panel" style="display: block;">
                <div class="col-6">
                    {% capture instructions %}{% include_relative instructions.md %}{% endcapture %}
                    {{ instructions | markdownify }}
                </div>
                <div class="col-6">       
                    {% capture steps %}{% include_relative steps.md %}{% endcapture %}
                    {{ steps | markdownify }}
                </div>
            </div>
    </div>
</div>

<div class="row-small">
        <div class="row-inner">
            
        </div>
    </div>
