---
layout: upload
title: Upload
---

<div class="row-small">
        <div class="row-inner">
            <div class="title-black">Add Your Perspective</div> 
        </div>
    </div>

<div class="row-xs">
    <div class="row-inner">
        <div class="accordion-custom"><i class="fas fa-camera"></i>Upload a Photo</div>
            <div class="panel">
                {% include _forms/photo-upload.html %}
            </div> 
    </div>
</div>

<div class="row-xs">
    <div class="row-inner">
        <div class="accordion-custom"><i class="fas fa-video"></i>Embed from Vimeo</div>
            <div class="panel">
                {% include _forms/video-embed.html %}
            </div>
    </div>
</div>

<div class="row-xs">
    <div class="row-inner">
        <div class="accordion-custom"><i class="fas fa-align-left"></i>Add Text</div>
            <div class="panel">
                {% include _forms/add-text.html %}
            </div>
    </div>
</div>

<div class="row-small">
        <div class="row-inner">
            <div class="col-8">
                <p>The archive of work is much like the work itself is a multi-dimensional ongoing exercise in perspective. Through uploaded photos, shared texts or added video links these projects will continue to develop and evolve.</p>
                <p> Contributions to this site are reviewed and published periodically, if you have questions please contact admin@erikasenftmiller.com</p>
            </div>
        </div>
    </div>
