---
layout: project
title: Between Land and Water
order: 3
---



<div class="gallery">
    <div id="Collaborators" class="gallery gallery-content filter" style="display:block">  
        <div class="grid">
            {% for image in site.static_files %}
            {% if image.path contains 'between-land-and-water' %}
        <div class="item">
            <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>    
    <div id="All" class="gallery gallery-content filter" style="display:none">
        <p>Looks like there is nothing here yet, have something to add? <a href="google.com">Click here.</a></p>
    </div>
</div>