---
layout: project
title: Between Land and Water
value: between-land-and-water
order: 3
image: ../assets/images/feature-powered-by-moran.jpg
site: Lake Champlain Community Sailing Center
location: Burlington, Vermont
time: September 10, 2016
---

<div id="collaborators" class="tabcontent">
    <div class="grid">
        {% include _projects/between-land-and-water-items-collaborators.html %}
    </div>
</div>

<div id="audience" class="tabcontent">
    <div class="grid">
    {% include _projects/between-land-and-water-items-audience.html %}
    </div>
    <p>Have something to add? <a href="{{ site.baseurl }}contribute">Click here.</a></p>
</div>