<form method="POST" action="//api.cloudstitch.com/alderstudio/esm-data/user">
    <div class="form-group">
        <input type="text" name="first" placeholder="First Name" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="text" name="last" placeholder="Last Name" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="text" name="email" placeholder="Email Address" class="form-control" required />
    </div>
    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
     <input type="hidden" name="_redirect" value="http://localhost:4000/erika-senft-miller/confirm-request/" />
</form>
<p style="text-align: left;">Already have access? <a href="{{ site.baseurl }}/upload">Log in here.</a></p>