<form method="POST" action="//api.cloudstitch.com/alderstudio/esm-data/video">
    <div class="form-group">
        <input type="text" name="name" placeholder="Video Credit" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="text" name="videoid" placeholder="Vimeo ID {the numbers at the end of the url)." class="form-control" required />
    </div>


   
    {% assign items = site.projects | sort: 'order' %}
        {% assign projects = items | reverse %}
            {% for project in items %}
            <div class="project"><input type="radio" name="project" value="{{ project.value }}" required>
                <label for="project">{{ project.title }}</label>
            </div>
        {% endfor %}
    


    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
    <input type="hidden" name="_redirect" value="https://erikasenftmiller.com/confirmation/" />
</form>