---
layout: default
---

<div class="row-medium">
    <div class="row-inner">
            <div class="banner-title">{{ page.title }}</div> 
            <div class="banner-excerpt">
                {{ page.time }} / {{ page.site }} / {{ page.location }}
            </div>
    </div>
</div>

<div class="row-xs">
    <div class="row-inner">
        <div class="accordion acc-project open">Description</div>
            <div class="panel" style="display: block;">
                {% capture project-description %}{% include_relative _project-description.md %}{% endcapture %}
                {{ project-description | markdownify }}
            </div> 
    </div>
</div>

<div class="row-xs">
    <div class="row-inner">
    <div class="accordion acc-static">Responses</div>
    </div>
</div>

<div class="row-medium">
    <div class="gallery">
        {{ content }}
    </div>   