--- 
layout: default 
---

<div class="row row-md middle-xs">
    <div class="banner-info col-xs-12">
        <div class="banner-title">{{ page.title }}</div>
        <div class="banner-excerpt">
            {{ page.time }} / {{ page.site }} / {{ page.location }}
        </div>
    </div>
</div>
<div class="row top-xs">
<div class="col-xs-12">
    <div class="accordion acc-project open">Description</div>
    <div class="panel" style="display: block;">
        {% capture project-description %}{% include_relative _project-description.md %}{% endcapture %} {{ project-description | markdownify }}
    </div>
</div>
<div class="col-xs-12">
    <div class="accordion acc-project">Details</div>
    <div class="panel">
        {% capture project-info %}{% include_relative _project-info.md %}{% endcapture %} {{ project-info | markdownify }}
    </div>
</div> 
</div>    

<div class="row row-md">
    <div class="accordion acc-static col-xs-12">Perspectives</div>
    <div class="gallery">
        <div class="grid">
            {{ content }}
        </div>
    </div>
</div>