---
layout: default
---

<div id="project-title">
    <div class="project-title">{{ page.title }}</div>
</div>

<div id="project-text">    
    <div class="description">
                {% capture project-description %}{% include_relative _project-description.md %}{% endcapture %}
                {{ project-description | markdownify }}
            </div>
    <div class="info">
        <div id="info" class="collapsed">
            {% capture project-info %}{% include_relative _project-info.md %}{% endcapture %}
            {{ project-info | markdownify }}
        </div> 
        <div class="expand">Read More</div>
</div>
</div>




<div id="filters">
    <div class="label">
        Respective perspectives:
    </div>
    <div class="triggers">
        <a href="javascript:void(0)" onclick="openfilter(event, 'Collaborators');">
            <div class="trigger tablink active">Collaborators</div>
        </a>
        <a href="javascript:void(0)" onclick="openfilter(event, 'All');">
            <div class="trigger tablink">Audience</div>
        </a>
    </div>
        </div>

    
<div id="project-grid">    
      {{ content }}
 </div>

{% include readmore.html %}
{% include filter.html %}

 <link rel="stylesheet" href="{{ "/assets/project.css" | relative_url }}">