---
layout: default
---

<div class="row row-full middle-xs center-xs" id="upcoming-section">
    <div class="col-xs-12 col-md-6 start-xs">
        <div class="banner-title">{{ page.title }}</div>
        <hr>
        <ul>
          <li>{{ page.date | date: "%B %-d, %Y at %r" }}</li>
          <li>{{ page.site }}</li>
          <li>{{ page.location }}</li>
        <hr>
        <p class="">{{ content }}</p>
        <hr>
        {% if page.image %}
        <img class="upcoming-image" src="{{ page.image }}">
        {% endif %}
    </div>
</div>
