--- 
layout: default 
---


<div class="row row-full middle-xs center-xs" id="upcoming-section">
    <div class="col-xs-12 col-md-6 start-xs">
        <div class="banner-title">{{ page.title }}</div>
        <p class="">{{ content }}</p>
        <ul class="banner-excerpt">
            <li>{{ page.time }}</li>
            <li>{{ page.site }}</li>
            <li>{{ page.location }}</li>
        </ul>
    </div>
</div>
<div class="row row-full middle-xs center-xs whitesmoke">
    <img class="col-xs-9 col-md-4" src="{{ page.image }}">
</div>