---
layout: project
title: Salt
value: salt
order: 4
image: ../assets/images/feature-powered-by-moran.jpg
site: Vermont Railway Salt Shed
location: Burlington, Vermont
time: Oct 9, 2016
---

<div id="collaborators" class="tabcontent">
    <div class="grid">
        {% include _projects/salt-items-collaborators.html %}
    </div>
</div>

<div id="audience" class="tabcontent">
    <div class="grid">
        <div class="grid">
        {% include _projects/salt-items-audience.html %}
        </div>
        <p>Have something to add? <a href="{{ site.baseurl }}contribute">Click here.</a></p>
    </div>
</div>